@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600;700&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    background-color: #845ec2;
    padding: 1em;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header h1 {
    font-size: 3rem;
    color: #fff;
    text-align: center;
}

main {
    width: 100%;
    max-width: 600px;
}

section {
    min-height: 100px;
    padding: 2.1em 2.5em;
    margin-bottom: 2em;
    background-color: #fbeaff;
    border-radius: 10px;
}

section h2 {
    margin: 0 0 1em;
}

.form-group {
    margin-bottom: 2em;
}

.form-group:last-child {
    margin-bottom: 0;
}

.form-group label {
    display: block;
    margin: 0.7em 0;
    font-weight: 700;
}

.form-group input[type=number],
.form-group textarea {
    width: 75%;
    padding: 0.7em;
    border: 1px solid pink;
    border-radius: 5px;
}

/* Firefox */
.form-group input[type=number] {
    -moz-appearance: textfield;
}

/* Chrome, Safari, Edge, Opera */
.form-group input[type=number]::-webkit-outer-spin-button,
.form-group input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-group button {
    margin: 0;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ff6f96;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
}

.entry {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid pink;
}

.entry:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}

footer {
    font-style: italic;
    color: #fff;
}