@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600;700&display=swap');

:root {
    --background: #845ec2;
    --section-background: #fbeaff;
    --button-background: #ff6f96;
    --button-background-hover: #fd5683;
    --error-color: red;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    background-color: var(--background);
    padding: 1em;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header h1 {
    font-size: 3rem;
    color: #fff;
    text-align: center;
}

main {
    width: 100%;
}

section {
    min-height: 100px;
    padding: 2.1em 2.5em;
    margin-bottom: 2em;
    background-color: var(--section-background);
    border-radius: 10px;
}

section h2 {
    margin: 0 0 1em;
}

.required {
    font-weight: 700;
    font-style: italic;
    color: #ff6f96;
}

.field-invalid {
    border: 1px solid var(--error-color) !important;
}

.field-error {
    margin-top: 0.5em;
    padding: 0;
    font-size: 13px;
    font-weight: 600;
    font-style: italic;
    color: var(--error-color);
}

.form-group {
    margin-top: 1.5em;
}

.form-group label {
    display: inline-block;
    margin: 0.7em 0;
    font-weight: 700;
}

.form-group input[type=text],
.form-group textarea {
    display: block;
    width: 100%;
    padding: 1em;
    border: 1px solid pink;
    border-radius: 5px;
}

.form-group button {
    margin: 1em 0 0;
    padding: 0.7em 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: var(--button-background);
    font-size: 0.9rem;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}

.form-group button:hover,
.form-group button:focus {
    background-color: var(--button-background-hover);
}

#entryHolder > div {
    margin-bottom: 1em;
}

footer {
    font-style: italic;
    color: #fff;
}

@media screen and (min-width: 700px) {
    main {
        display: flex;
        gap: 3em;
        justify-content: center;
    }

    main > section {
        width: 100%;
        max-width: 400px;
    }
}